.controls {
  @include shift(2);
  @include span-columns(8);
  background: lighten($light-gray, 10);
  border-radius: 5px;
  border: 1px solid $light-gray;
  height: 4em;
  overflow: hidden;
  position: relative;
}

.play-pause {
  border-right: 1px solid $light-gray;
  color: $medium-gray;
  cursor: pointer;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  padding-top: 1.25em;
  position: absolute;
  text-align: center;
  width: 10%;

  &:hover {
    background: $dark-gray;
    color: #fff;
  }
}

.progress-bar {
  height: 100%;
  left:25%;
  position: relative;
  width: 75%;

  #progress {
    background: lighten($light-gray, 1);
    position: absolute;
    height: 100%;
  }
}

.volume {
  border-right: 1px solid $light-gray;
  position: absolute;
  padding: 0 1em;
  width: 15%;
  left: 10%;

  input[type='range']#volume {
    cursor: pointer;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    height: 100%;
    width: 100%;
  }
}

.current-time {
  color: $dark-gray;
  background-color: $blue;
}
