/*Play button*/
.controls {

}
#songPlay{
  width: auto;
  display: inline-block;
  padding: 10px;
  background: $light-gray;
}

#songPause{
  @include size(30px 30px);
  background: $blue;
}

#songStop{
  @include size(30px 30px);
  background: $light-red;
}

#songPlayPause{
  @include size(30px 30px);
  background: $light-yellow;
}

#songSlider{
    width: 8px;
    height: 20px;
    background-color: black;
}

#trackProgress{
    height: 4px;
    background-color: $medium-gray;
}

#volumeUp{
  @include size(15px 15px);
  background: $blue;

}
/*Volume Down Button*/
#volumeDown{
  @include size(15px 15px);
  background: $dark-gray;
}
/*Volume Meter*/
#volumeMeter{
    width: 500px;
    height: 10px;
    background-color: black;
}
/*Volume Location Meter*/
#volumeStatus{
    height: 10px;
    background-color: green;
}
