.controls {
  @include span-columns(8);
  @include shift(2);
  background: lighten($light-gray, 10);
  border-radius: 5px;
  border: 1px solid $light-gray;
  height: 4em;
  overflow: hidden;
  position: relative;
}

.button {
  color: $medium-gray;
  font-family: 'FontAwesome';
  font-size: 1em;
  font-weight: 700;

  .play-pause {
    &:hover {
      color: #fff;
      background: $dark-gray;
    }
  }
}

.play-pause {
  border-right: 1px solid $light-gray;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-top: 1.2em;
  text-align: center;
  width: 4em;
}

.volume {
  border-left: 1px solid $light-gray;
  display: inline-block;
  float: right;
  height: 100%;
  position: relative;

    input[type='range']#volume {
    -webkit-appearance: slider-horizontal;
    cursor: pointer;
    margin: 0 1em;
    padding: 1.5em 0;
    width: 4em;
  }
}
