.video {
  @include span-columns(8);
  @include shift(2);
  overflow: hidden;

  video {
    @include fill-parent;
    border-radius: 5px 5px 0 0;
    margin: 0 auto;
    display: block;
  }

  & + .controls {
    border-radius: 0 0 5px 5px;
    border: $border-style;
  }
}

.controls {
  @include span-columns(8);
  @include shift(2);
  background: lighten($light-gray, 10);
  border-radius: 5px;
  border: $border-style;
  height: 4em;
  overflow: hidden;
  position: relative;
}

.play-pause {
  @include size(10% 100%);
  border-right: $border-style;
  color: $medium-gray;
  cursor: pointer;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 1em;
  font-weight: 700;
  padding-top: 1.25em;
  position: absolute;
  text-align: center;

  &:hover {
    background: $dark-gray;
    color: #fff;
  }
}

.progress-bar {
  @include size(75% 100%);
  left:25%;
  position: relative;

  #progress {
    background: lighten($light-gray, 1);
    position: absolute;
    height: 100%;
  }
}

.volume {
  border-right: $border-style;
  left: 10%;
  padding: 0 1em;
  position: absolute;
  width: 15%;

  input[type='range']#volume {
    @include size(100% 5px);
    -webkit-appearance: none;
    background-color: $medium-gray;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1.7em;
    margin-top: 1.8em;

  &:focus {
    outline: none;
  }

  &:active {
    @include linear-gradient(to right, $medium-gray, $dark-gray);
  }
}

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none;
    @include size(1em);
    background-color: $dark-gray;
    border-radius: 50%;
   }
}
