section.sort {
  @include outer-container;

  ul#sortable {
    @include span-columns(12);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ui-sortable-helper {
    background: $success-color !important;
    box-shadow: -2px -2px 0px 0px darken($success-color, 10) !important;
  }

  .ui-state-highlight {
    background: lighten($success-color, 20);
  }

  li {
    @include omega(3n);
    @include span-columns (4);
    @include transition(all, .15s, linear);
    background: lighten($blue,10);
    border-radius: 8px;
    border: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    height: 20%;
    margin-bottom: 1.3em;

    &:hover {
      @include transition(all .1s linear);
      background: $blue;
      border: none;
      box-shadow: -2px -2px 0px 0px darken($blue, 30);
    }

    .text-wrap {
      display: inline-block;
      vertical-align: middle;
    }

    .alignment-helper {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}
