section.sort {
  @include outer-container;

  ul#sortable {
    @include span-columns(8);
    @include shift(2);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


   .ui-state-default, .ui-state-highlight, .ui-state-helper {
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }

  .ui-state-default {
    background: lighten($blue, 40);
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      background: $blue;
      color: #fff;
    }

    &:active {
      background: $blue;
    }
  }

  .ui-sortable-helper {
    background: lighten($blue, 10) !important;
    border: 1px solid $blue !important;
  }

  .ui-state-highlight {
    background: lighten($blue, 46);
    border: 1px dashed lighten($blue, 20);
  }

  li {
    @include fill-parent;
    @include transition(all .15s, linear);
    display: inline-block;
    font-size: 1.3em;
    font-weight: 300;
    height: 7%;
    margin-bottom: 1.3em;
    text-align: center;
    vertical-align: middle;



    .text-wrap {
      display: inline-block;
      vertical-align: middle;
    }

    .alignment-helper {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}
