body {
  margin: 0;
}

section {
  @include outer-container;
  margin-bottom: 1em;
  margin-top: 1em;
}

nav {
  background: lighten($light-gray, 10);
  height: auto;
  padding: 1em;
  width: 100%;

  ul {
    list-style: none;

    li {
      display: inline;
      margin: 0 1em;

      &:last-of-type {
        float: right;
      }
    }
  }
}

.body ul {
  border-top: 1px dashed $medium-gray;
  margin: 1em 0;
  padding-top: 1em;

  li {
    font-size: 1.5em;
    line-height: 2;
    padding-left: .9em;

    &:hover {
      background: lighten($light-gray, 10);
    }
  }
}

article {
  text-align: center;
  margin: 2em auto;
}
