@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Actor);

@import 'bourbon';
@import "bitters/bitters";
@import 'bitters/grid-settings';
@import 'neat';

@import 'shared';
@import 'experiments/audio_player';

body {
  margin: 0;
}

section {
  @include outer-container;
  margin-bottom: 1em;
  margin-top: 1em;
}
